@model E_Ticaret_Sitesi.Models.Cart

<style>
    #cart {
        color: white;
    }
</style>

<ul class="navbar-nav my-2 my-lg-0 ml-2">
    <li id="cart" class="nav-item">
        <a class="nav-link" href="/Cart">
            <i class="fa fa-cart-plus"></i>
            (@Model.CartLines.Count) <!--Toplam kaç çeşit ürün aldığın yazar menü kısmında-->
        </a>

    </li>
</ul>