.jumbotron {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 100%;
    border-radius: 0rem;
}

.card-title {
    font-size: 16px;
    font-weight: 400;
    color: #484848;
    line-height: 1.35em;
    height: 34px;
}

.product-price {
    color: #414141;
    font-weight: 700;
    font-size: 17px;
}

#product-details h1 {
    font-size: 25px;
    font-weight: 700;
}

.description {
    font-size: 14px;
    height: 40px;
}

.resim-boyut {
    height: 240px;
}



#write-review {
    margin-left: -50px;
    /* Bu şekilde div yapısını 50px sola kaydırmış oluruz*/
}

#product-price {
    font-size: 28px;
    color: red;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
    }

code {
    font-size: 80%;
}
